In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import plate_map as pm
import plate_map2 as pm2
from unidec_modules.ChromEng2 import *
from unidec_modules import unidectools as ud
from DataStructure import *
from dataclasses import dataclass

In [2]:
map_path = "plate map uni chrom update.xlsx"

In [3]:
rmap, pmap = pm2.read_in(map_path)
e = pm2.process_data(rmap, pmap)

In [4]:
l = e['17-05-21-CTB1']
l

{'Time': {0.0: [    Type  Reaction Name Time  Valid
   A1  Test  17-05-21-CTB1    0   True],
  30.0: [    Type  Reaction Name Time  Valid
   A2  Test  17-05-21-CTB1   30   True],
  60.0: [    Type  Reaction Name Time  Valid
   A3  Test  17-05-21-CTB1   60   True]},
 'spectra': 'insert spectra here',
 'metadata':          Reaction Name  Concentration  Units  Mass Reagent Type Sequence
 Species
 CTB      17-05-21-CTB1            10.0    uM   NaN           SM      NaN
 GVYQSRL  17-05-21-CTB1            10.0    uM   NaN           SM      NaN
 HC7D     17-05-21-CTB1            10.0    uM   NaN            C      NaN
 CTB-GV   17-05-21-CTB1             NaN    uM   NaN            P      NaN}

In [5]:
l['Time']

{0.0: [    Type  Reaction Name Time  Valid
  A1  Test  17-05-21-CTB1    0   True],
 30.0: [    Type  Reaction Name Time  Valid
  A2  Test  17-05-21-CTB1   30   True],
 60.0: [    Type  Reaction Name Time  Valid
  A3  Test  17-05-21-CTB1   60   True]}

In [6]:
rheaders = {"Reaction Name":str, "Species":str, "Concentration":float,
           "Units":str, "Mass":float, "Reagent Type":str, "Sequence":str}

pheaders = {"Well ID":{'dtype':str, 'long':True, 'short_row': False, 'short_col':False}, 
            "Type":{'dtype':str, 'long':True, 'short_row': True, 'short_col':True}, 
            "Reaction Name":{'dtype':str, 'long':True, 'short_row': True, 'short_col':True}, 
            "Time":{'dtype':str, 'long':True, 'short_row': True, 'short_col':True}}

map_name = "plate map uni chrom update.xlsx"

In [7]:
rmap = pd.read_excel(map_name, 
                     dtype = rheaders, 
                     sheet_name = "reaction map")
rmap

   Reaction Name  Species  Concentration  Units  Mass Reagent Type Sequence
0  17-05-21-CTB1      CTB            10.0    uM   NaN           SM      NaN
1  17-05-21-CTB1  GVYQSRL            10.0    uM   NaN           SM      NaN
2  17-05-21-CTB1     HC7D            10.0    uM   NaN            C      NaN
3  17-05-21-CTB1   CTB-GV             NaN    uM   NaN            P      NaN
4  17-05-21-CTB2      CTB            20.0    uM   NaN           SM      NaN
5  17-05-21-CTB2  GVYQSRL            20.0    uM   NaN           SM      NaN
6  17-05-21-CTB2     HC7D            20.0    uM   NaN            C      NaN
7  17-05-21-CTB2   CTB-GV             NaN    uM   NaN            P      NaN

In [8]:
pdata_types = {i[0]: i[1]['dtype'] for i in pheaders.items()} 
pmap = pd.read_excel(map_name, dtype = pdata_types, index_col = "Well ID", skiprows = 1)

In [9]:
# add Valid column to plate map
pheaders2 = [x for x in pheaders.keys() if pheaders[x]['long']]
pmapdf = pm.empty_map(size = 6, header_names = pheaders)
pmapdf.update(pmap)
pmapdf

    Type  Reaction Name Time  Valid
A1  Test  17-05-21-CTB1    0   True
A2  Test  17-05-21-CTB1   30   True
A3  Test  17-05-21-CTB1   60   True
B1  Test  17-05-21-CTB2    0   True
B2  Test  17-05-21-CTB2   30   True
B3  Test  17-05-21-CTB2   60   True

In [10]:
# filter by reactions 
reactions = {key:[val] for key, val in rmap.groupby('Reaction Name')}
wellsflt = {key: val for key, val in pmapdf.groupby('Reaction Name')} 
# for k, v in wellsflt.items():
#     reactions[k].append(v)
reactions

{'17-05-21-CTB1': [   Reaction Name  Species  Concentration  Units  Mass Reagent Type Sequence
  0  17-05-21-CTB1      CTB            10.0    uM   NaN           SM      NaN
  1  17-05-21-CTB1  GVYQSRL            10.0    uM   NaN           SM      NaN
  2  17-05-21-CTB1     HC7D            10.0    uM   NaN            C      NaN
  3  17-05-21-CTB1   CTB-GV             NaN    uM   NaN            P      NaN],
 '17-05-21-CTB2': [   Reaction Name  Species  Concentration  Units  Mass Reagent Type Sequence
  4  17-05-21-CTB2      CTB            20.0    uM   NaN           SM      NaN
  5  17-05-21-CTB2  GVYQSRL            20.0    uM   NaN           SM      NaN
  6  17-05-21-CTB2     HC7D            20.0    uM   NaN            C      NaN
  7  17-05-21-CTB2   CTB-GV             NaN    uM   NaN            P      NaN]}

In [11]:
print(reactions['17-05-21-CTB1'][0]) # reaction metadata 
print("~~~~")
print(reactions['17-05-21-CTB1'][1])

   Reaction Name  Species  Concentration  Units  Mass Reagent Type Sequence
0  17-05-21-CTB1      CTB            10.0    uM   NaN           SM      NaN
1  17-05-21-CTB1  GVYQSRL            10.0    uM   NaN           SM      NaN
2  17-05-21-CTB1     HC7D            10.0    uM   NaN            C      NaN
3  17-05-21-CTB1   CTB-GV             NaN    uM   NaN            P      NaN
~~~~

IndexError: list index out of range

In [ ]:
# filter each reaction into separate time points, each containing all the metadata
wellsflt

In [ ]:
@dataclass
class Timepoint:
    time:float
    species:list = None
    spectra:list = None

In [ ]:
times = {}
for k, v in reactions.items():
    valid_filter = v[1]['Valid'] == True
    timesgroup = v[1][valid_filter].groupby('Time')
    times[k] = {float(key):[val, v[0]] for key, val in timesgroup}
    
    print({key: val for key, val in timesgroup})

In [ ]:
times = {}
for k, v in reactions.items():
    valid_filter = v[1]['Valid'] == True
    timesgroup = v[1][valid_filter].groupby('Time')
    
    
    
    times[k] = {float(key):[val, v[0]] for key, val in timesgroup}
    
    print({key: val for key, val in timesgroup})

In [ ]:
fff = (times['17-05-21-CTB1'][30][0])
fff.iloc[0]['Time']

In [ ]:
pheaders