In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import plate_map as pm
import plate_map2 as pm2
from unidec_modules.ChromEng2 import *
from unidec_modules import unidectools as ud
from DataStructure import *
from dataclasses import dataclass

In [2]:
map_path = "unichrom plate map.xlsx"

In [3]:
rmap, pmap = pm2.read_in(map_path)
reactions = pm2.process_data(rmap, pmap)
reactions

{'17-05-21-CTB1': {'CTB': {'Reaction Name': '17-05-21-CTB1',
   'Species': 'CTB',
   'Concentration ': 10.0,
   'Units': 'uM',
   'Mass': 85710.0,
   'Reagent Type': 'SM',
   'Sequence': nan,
   'Time': ['0', '30', '60']},
  'CTB-GV': {'Reaction Name': '17-05-21-CTB1',
   'Species': 'CTB-GV',
   'Concentration ': nan,
   'Units': 'uM',
   'Mass': nan,
   'Reagent Type': 'P',
   'Sequence': nan,
   'Time': ['0', '30', '60']},
  'GVYQSRL': {'Reaction Name': '17-05-21-CTB1',
   'Species': 'GVYQSRL',
   'Concentration ': 10.0,
   'Units': 'uM',
   'Mass': 821.93,
   'Reagent Type': 'SM',
   'Sequence': 'GVYQSRL',
   'Time': ['0', '30', '60']},
  'HC7D': {'Reaction Name': '17-05-21-CTB1',
   'Species': 'HC7D',
   'Concentration ': 10.0,
   'Units': 'uM',
   'Mass': 49480.0,
   'Reagent Type': 'C',
   'Sequence': nan,
   'Time': ['0', '30', '60']}},
 '17-05-21-CTB2': {'CTB': {'Reaction Name': '17-05-21-CTB2',
   'Species': 'CTB',
   'Concentration ': 20.0,
   'Units': 'uM',
   'Mass': nan,
   'Reagent Type': 'SM',
   'Sequence': nan,
   'Time': ['0', '30', '60']},
  'CTB-GV': {'Reaction Name': '17-05-21-CTB2',
   'Species': 'CTB-GV',
   'Concentration ': nan,
   'Units': 'uM',
   'Mass': nan,
   'Reagent Type': 'P',
   'Sequence': nan,
   'Time': ['0', '30', '60']},
  'GVYQSRL': {'Reaction Name': '17-05-21-CTB2',
   'Species': 'GVYQSRL',
   'Concentration ': 20.0,
   'Units': 'uM',
   'Mass': nan,
   'Reagent Type': 'SM',
   'Sequence': nan,
   'Time': ['0', '30', '60']},
  'HC7D': {'Reaction Name': '17-05-21-CTB2',
   'Species': 'HC7D',
   'Concentration ': 20.0,
   'Units': 'uM',
   'Mass': nan,
   'Reagent Type': 'C',
   'Sequence': nan,
   'Time': ['0', '30', '60']}}}

In [4]:
for key, val in reactions.items():
    pass

In [39]:
reactions2 = {}
for k, r in reactions.items(): # first iterate through reactions
    # then each species
    # convert each dataframe row (val) to dict
    species = {key: val.to_dict('records')[0] for key, val in r.groupby('Species')} 
    reactions2[k] = species
reactions2['17-05-21-CTB1']

{'CTB': {'Reaction Name': '17-05-21-CTB1',
  'Species': 'CTB',
  'Concentration ': 10.0,
  'Units': 'uM',
  'Mass': nan,
  'Reagent Type': 'SM',
  'Sequence': nan},
 'CTB-GV': {'Reaction Name': '17-05-21-CTB1',
  'Species': 'CTB-GV',
  'Concentration ': nan,
  'Units': 'uM',
  'Mass': nan,
  'Reagent Type': 'P',
  'Sequence': nan},
 'GVYQSRL': {'Reaction Name': '17-05-21-CTB1',
  'Species': 'GVYQSRL',
  'Concentration ': 10.0,
  'Units': 'uM',
  'Mass': nan,
  'Reagent Type': 'SM',
  'Sequence': nan},
 'HC7D': {'Reaction Name': '17-05-21-CTB1',
  'Species': 'HC7D',
  'Concentration ': 10.0,
  'Units': 'uM',
  'Mass': nan,
  'Reagent Type': 'C',
  'Sequence': nan}}

In [46]:
# next, update each time point with all the metadata for each species and vica versa? 
for rkey, rdict in reactions2.items():
    for species, attrdict in rdict.items():
        attrdict['Time'] = list(wells[rkey]['Time'])
#         print(attrdict)
    print(rdict)
# for key, val in wells.items():
#     print(key, val)

{'CTB': {'Reaction Name': '17-05-21-CTB1', 'Species': 'CTB', 'Concentration ': 10.0, 'Units': 'uM', 'Mass': nan, 'Reagent Type': 'SM', 'Sequence': nan, 'Time': ['0', '30', '60']}, 'CTB-GV': {'Reaction Name': '17-05-21-CTB1', 'Species': 'CTB-GV', 'Concentration ': nan, 'Units': 'uM', 'Mass': nan, 'Reagent Type': 'P', 'Sequence': nan, 'Time': ['0', '30', '60']}, 'GVYQSRL': {'Reaction Name': '17-05-21-CTB1', 'Species': 'GVYQSRL', 'Concentration ': 10.0, 'Units': 'uM', 'Mass': nan, 'Reagent Type': 'SM', 'Sequence': nan, 'Time': ['0', '30', '60']}, 'HC7D': {'Reaction Name': '17-05-21-CTB1', 'Species': 'HC7D', 'Concentration ': 10.0, 'Units': 'uM', 'Mass': nan, 'Reagent Type': 'C', 'Sequence': nan, 'Time': ['0', '30', '60']}}
{'CTB': {'Reaction Name': '17-05-21-CTB2', 'Species': 'CTB', 'Concentration ': 20.0, 'Units': 'uM', 'Mass': nan, 'Reagent Type': 'SM', 'Sequence': nan, 'Time': ['0', '30', '60']}, 'CTB-GV': {'Reaction Name': '17-05-21-CTB2', 'Species': 'CTB-GV', 'Concentration ': nan, 'Units': 'uM', 'Mass': nan, 'Reagent Type': 'P', 'Sequence': nan, 'Time': ['0', '30', '60']}, 'GVYQSRL': {'Reaction Name': '17-05-21-CTB2', 'Species': 'GVYQSRL', 'Concentration ': 20.0, 'Units': 'uM', 'Mass': nan, 'Reagent Type': 'SM', 'Sequence': nan, 'Time': ['0', '30', '60']}, 'HC7D': {'Reaction Name': '17-05-21-CTB2', 'Species': 'HC7D', 'Concentration ': 20.0, 'Units': 'uM', 'Mass': nan, 'Reagent Type': 'C', 'Sequence': nan, 'Time': ['0', '30', '60']}}

In [8]:
wells

{'17-05-21-CTB1':     Type  Reaction Name Time  Valid
 A1  Test  17-05-21-CTB1    0   True
 A2  Test  17-05-21-CTB1   30   True
 A3  Test  17-05-21-CTB1   60   True,
 '17-05-21-CTB2':     Type  Reaction Name Time  Valid
 B1  Test  17-05-21-CTB2    0   True
 B2  Test  17-05-21-CTB2   30   True
 B3  Test  17-05-21-CTB2   60   True}

In [6]:
rheaders = {"Reaction Name":str, "Species":str, "Concentration":float,
           "Units":str, "Mass":float, "Reagent Type":str, "Sequence":str}

pheaders = {"Well ID":{'dtype':str, 'long':True, 'short_row': False, 'short_col':False}, 
            "Type":{'dtype':str, 'long':True, 'short_row': True, 'short_col':True}, 
            "Reaction Name":{'dtype':str, 'long':True, 'short_row': True, 'short_col':True}, 
            "Time":{'dtype':str, 'long':True, 'short_row': True, 'short_col':True}}

map_name = "plate map uni chrom update.xlsx"

In [7]:
rmap = pd.read_excel(map_name, 
                     dtype = rheaders, 
                     sheet_name = "reaction map")
rmap

   Reaction Name  Species  Concentration  Units  Mass Reagent Type Sequence
0  17-05-21-CTB1      CTB            10.0    uM   NaN           SM      NaN
1  17-05-21-CTB1  GVYQSRL            10.0    uM   NaN           SM      NaN
2  17-05-21-CTB1     HC7D            10.0    uM   NaN            C      NaN
3  17-05-21-CTB1   CTB-GV             NaN    uM   NaN            P      NaN
4  17-05-21-CTB2      CTB            20.0    uM   NaN           SM      NaN
5  17-05-21-CTB2  GVYQSRL            20.0    uM   NaN           SM      NaN
6  17-05-21-CTB2     HC7D            20.0    uM   NaN            C      NaN
7  17-05-21-CTB2   CTB-GV             NaN    uM   NaN            P      NaN

In [8]:
pdata_types = {i[0]: i[1]['dtype'] for i in pheaders.items()} 
pmap = pd.read_excel(map_name, dtype = pdata_types, index_col = "Well ID", skiprows = 1)

In [9]:
# add Valid column to plate map
pheaders2 = [x for x in pheaders.keys() if pheaders[x]['long']]
pmapdf = pm.empty_map(size = 6, header_names = pheaders)
pmapdf.update(pmap)
pmapdf

    Type  Reaction Name Time  Valid
A1  Test  17-05-21-CTB1    0   True
A2  Test  17-05-21-CTB1   30   True
A3  Test  17-05-21-CTB1   60   True
B1  Test  17-05-21-CTB2    0   True
B2  Test  17-05-21-CTB2   30   True
B3  Test  17-05-21-CTB2   60   True

In [10]:
# filter by reactions 
reactions = {key:[val] for key, val in rmap.groupby('Reaction Name')}
wellsflt = {key: val for key, val in pmapdf.groupby('Reaction Name')} 
# for k, v in wellsflt.items():
#     reactions[k].append(v)
reactions

{'17-05-21-CTB1': [   Reaction Name  Species  Concentration  Units  Mass Reagent Type Sequence
  0  17-05-21-CTB1      CTB            10.0    uM   NaN           SM      NaN
  1  17-05-21-CTB1  GVYQSRL            10.0    uM   NaN           SM      NaN
  2  17-05-21-CTB1     HC7D            10.0    uM   NaN            C      NaN
  3  17-05-21-CTB1   CTB-GV             NaN    uM   NaN            P      NaN],
 '17-05-21-CTB2': [   Reaction Name  Species  Concentration  Units  Mass Reagent Type Sequence
  4  17-05-21-CTB2      CTB            20.0    uM   NaN           SM      NaN
  5  17-05-21-CTB2  GVYQSRL            20.0    uM   NaN           SM      NaN
  6  17-05-21-CTB2     HC7D            20.0    uM   NaN            C      NaN
  7  17-05-21-CTB2   CTB-GV             NaN    uM   NaN            P      NaN]}

In [11]:
print(reactions['17-05-21-CTB1'][0]) # reaction metadata 
print("~~~~")
print(reactions['17-05-21-CTB1'][1])

   Reaction Name  Species  Concentration  Units  Mass Reagent Type Sequence
0  17-05-21-CTB1      CTB            10.0    uM   NaN           SM      NaN
1  17-05-21-CTB1  GVYQSRL            10.0    uM   NaN           SM      NaN
2  17-05-21-CTB1     HC7D            10.0    uM   NaN            C      NaN
3  17-05-21-CTB1   CTB-GV             NaN    uM   NaN            P      NaN
~~~~

IndexError: list index out of range

In [ ]:
# filter each reaction into separate time points, each containing all the metadata
wellsflt

In [ ]:
@dataclass
class Timepoint:
    time:float
    species:list = None
    spectra:list = None

In [ ]:
times = {}
for k, v in reactions.items():
    valid_filter = v[1]['Valid'] == True
    timesgroup = v[1][valid_filter].groupby('Time')
    times[k] = {float(key):[val, v[0]] for key, val in timesgroup}
    
    print({key: val for key, val in timesgroup})

In [ ]:
times = {}
for k, v in reactions.items():
    valid_filter = v[1]['Valid'] == True
    timesgroup = v[1][valid_filter].groupby('Time')
    
    
    
    times[k] = {float(key):[val, v[0]] for key, val in timesgroup}
    
    print({key: val for key, val in timesgroup})

In [ ]:
fff = (times['17-05-21-CTB1'][30][0])
fff.iloc[0]['Time']

In [ ]:
pheaders